* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    min-height: fit-content;
    height: 120vh;
    background-color: #DBD9BA;
}
#mainContainer {
    width: 350px;
    height: 100%;
    background-color: #F2E9C2;
    margin: auto;
    /*comeback to background height*/
}
#loginContainer {
    width: 350px;
    margin:auto;
    padding-top: 400px;
}
#loginContainer > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header {
    background-color: #C4EBA2;
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
#header > .sideMenuTriggerOn {
    margin: 10px;
    width: 50px;
    height: 50px;
}
#header > h1 {
    font-size: 32px;
    margin-top: 15px;
}
#cart {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
}
#sideMenu {
    background-color: #C4EBA2;
    z-index: 3;
    top: 0;
    position: fixed;
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.icon {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 10px;
}
/*#sideMenu > .icon:last-of-type {
    make this seperate and stay at the bottom
}*/
main, section {
    width: 270px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main > h2, section > h2 {
    font-family: 'Verdanda', sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}
main {
    margin-top: 20px;
    margin-bottom: 40px;
}
#newArrivals, .topPick {
    background-color: grey;
    width: 270px;
    height: 120px;
}
#dots {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
#dots > div {
    width: 17px;
    height: 17px;
    background-color: slategray;
    border-radius: 100%;
}
#dots > div:nth-of-type(2) {
    margin-left: 20px;
    margin-right: 20px;
}
.topPick {
    margin-bottom: 15px;
}
.selection {
    width: 80px;
    height: 80px;
    background-color: gray;
}
.selection > img {
    width: 80px;
    height: 80px;
}
#orderAgain {
    display: grid;
    grid-template: 100px / 100px 100px 100px;
}
.menu {
    display: grid;
    grid-template: 100px 100px 100px 100px/ 100px 100px 100px;
}

/*Tablets*/
@media only screen and (min-width: 600px) {

}

/*Desktops*/
@media only screen and (min-width: 992px) {
    
}