* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#mainContainer {
    background-color: white;
    width: 320px;
    margin: auto;
    height: 100%;
}

#mainLoginContainer {
    width: 100%;
    height: 100%;
}